<section class="confirmar-reserva alinear-vertical">
  <h2>Resumen reserva</h2>
  <ul>
    <li><strong>Origen:</strong></li>
    <ul class="detalle">
        <li> <%= aeropuertos.origen.ciudad %> (<%= aeropuertos.origen.siglas %>)</li>
        <li>Fecha: <%= vuelo.salida.toLocaleDateString('es-ES') %>  </li>
        <li>Hora: <%= vuelo.salida.toLocaleTimeString('es-ES', {hour: '2-digit', minute: '2-digit'}) %></li>
    </ul>
    <li><strong>Destino:</strong></li>
    <ul class="detalle">
        <li> <%= aeropuertos.destino.ciudad %> (<%= aeropuertos.destino.siglas %>)</li>
        <li>Fecha: <%= vuelo.llegada.toLocaleDateString('es-ES') %>  </li>
        <li>Hora: <%= vuelo.llegada.toLocaleTimeString('es-ES', {hour: '2-digit', minute: '2-digit'}) %></li>
    </ul>       
  </ul>
  <h3><%= typeof reserva != 'undefined' ? '¿Desea modificar su reserva?' : '¿Desea finalizar su reserva? '%> </h3>
  <form method="POST" action=<%= action %> >
    <input type="hidden" name="vuelo" value=<%= vuelo.id %> >
    <input class="btn" type="submit" value="Enviar">
  </form>
</section>