<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Bebas+Neue&display=swap');
    </style>
  </head>
  <body>
    <%- include nav %>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <%- body %> 
    </main>
    <%- include footer %> 
  </body>
</html>
