<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Bebas+Neue&display=swap');
    </style>
  </head>
  <body>
    <%- include nav %>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <%- body %> 
    </main>
    <%- include footer %> 
  </body>
</html>
