<section class="perfil">
  <div>
    <h1> <%= usuario.nombre %> </h1>
    <div class="perfil-acciones">
      <a href=<%='editar/' + usuario.id %> > Editar perfil</a>
      <a href="">Cerrar Sesión</a>
      <a href=<%='eliminar/' + usuario.id %> > Eliminar cuenta</a>
    </div>
  </div>
  <aside class="mis-reservas">
    <h3>Mis reservas</h3>
    <table>
      <tr>
        <th>Identificador</th>
        <th>Fecha</th>
        <th>Origen/Destino</th>
        <th>Hora salida/llegada</th>
        <th></th>
      </tr>

      <% reservas.forEach(reserva =>{ %> 
        <tr>
          <td>
            <%= reserva.id %>
          </td> 
          <td>
            <%= reserva.salida.toLocaleDateString('es-ES') %>
          </td>     
          <td>
            <%= aeropuertos[reserva.origen].ciudad %> 
            (<%= aeropuertos[reserva.origen].siglas %>) /
            <%= aeropuertos[reserva.destino].ciudad %> 
            (<%= aeropuertos[reserva.destino].siglas %>)
          </td>    
          <td>
            <%= reserva.salida.toLocaleTimeString('es-ES'
              , {hour: '2-digit', minute: '2-digit'}) %> /
            <%= reserva.llegada.toLocaleTimeString('es-ES'
            , {hour: '2-digit', minute: '2-digit'}) %>
          </td>   
          <td>
            <a href=<%= '/vuelos/disponibles/' 
                + `?origen=${reserva.origen}`
                + `&destino=${reserva.destino}`
                + `&vuelo=${reserva.vuelo_id}`
                + `&reserva=${reserva.id}` %> >
              Modificar
            </a> 
            <a href=<%= '/reservas/eliminar/' + reserva.id %> >Eliminar</a>
          </td>
        </tr>
      <% }) %>

    </table>
  </aside>
  </ul>
</section>