<section class="perfil alinear-vertical">
  <% if (mensaje_exito.length > 0) { %> 
    <p class="flash exito"><%= mensaje_exito %></p><br>
  <% } %>
  <h2> <%= usuario.nombre %> </h2>
  <a href=<%='editar/' + usuario.id %> > Editar perfil</a>
  <article class="mis-reservas">
    <h3>Mis reservas</h3>
    <table>
      <tr>
        <th>Id.</th>
        <th>Fecha</th>
        <th>Origen/<br>Destino</th>
        <th>Hora <br>salida/<br>llegada</th>
        <th></th>
      </tr>
      <% if(reservas){ %>
        <% reservas.forEach(reserva =>{ %> 
          <tr>
            <td>
              <%= reserva.id %>
            </td> 
            <td>
              <%= reserva.salida.toLocaleDateString('es-ES') %>
            </td>     
            <td>
              <%= aeropuertos[reserva.origen - 1].ciudad %> 
              (<%= aeropuertos[reserva.origen - 1].siglas %>) / 
              <br>
              <%= aeropuertos[reserva.destino - 1].ciudad %> 
              (<%= aeropuertos[reserva.destino - 1].siglas %>)
            </td>    
            <td>
              <%= reserva.salida.toLocaleTimeString('es-ES'
                , {hour: '2-digit', minute: '2-digit'}) %> /
                <br>
              <%= reserva.llegada.toLocaleTimeString('es-ES'
              , {hour: '2-digit', minute: '2-digit'}) %>
            </td>   
            
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <a href=<%= '/vuelos/disponibles/' 
                  + `?origen=${reserva.origen}`
                  + `&destino=${reserva.destino}`
                  + `&vuelo=${reserva.vuelo_id}`
                  + `&reserva=${reserva.id}` %> >
                Modificar
              </a>
            </td> 
            <td>
              <a href=<%= '/reservas/eliminar/' + reserva.id %> >Eliminar</a>
            </td>
          </tr>
        <% }) %>
      <% } %>
    </table>
  </article>
  <a href=<%='/usuario/eliminar/' + usuario.id %> > Eliminar cuenta</a>

</section>